.about{
  color: #000;
  &__title{
    @include subTitle;
  }
  &__content{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  &__text-info {

  }
  &__description-text{
    @include aboutParagraph;
    margin-bottom: 16px;
    &--light-color {
      color: $light-grey;
    }
  }
  &__main-img-wrap{
    display: flex;
    height: auto;
  }
  &__main-img{
    object-fit: cover;
  }
  &__video-iframe {
    width: calc(100vw - 40px);
    height: 60vw;
    @media only screen and (min-width: $tablet-width) {
      width: 700px;
      height: 400px;
    }
    @media only screen and (min-width: $desctop-width) {
      width: 900px;
      height: 506px;
    }
  }
}
@media only screen and (min-width: $tablet-width){
  .about {
    &__content{}
    &__title{}
    &__description-text{}
    &__adv-list{}
    &__adv-item{}
    &__adv-item-icon{}
    &__main-img-wrap{}
    &__main-img{}
  }
}
@media only screen and (min-width:$desctop-width){
  .about {
    &__content{}
    &__title{}
    &__description-text{}
    &__adv-list{}
    &__adv-item{}
    &__adv-item-icon{}
    &__text-info{
    }
    &__main-img-wrap{
    }
    &__main-img{}
  }
}