.accordeon{
  position: relative;
  
}
.accordeon__item-content{
  display: none;
}
.accordeon__item-content--active{
  display: block;
}
.work-step__description--faq.accordeon__item-content{
  transition: transform .4s ease-in;
  transform: translate(0, -200px);
}
.work-step__description--faq.accordeon__item-content--active{
  transform: translate(0, 0);
}

