.action{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  min-width: none;
  max-width: 270px;
  background: linear-gradient(90.04deg, #F75135 44.02%, #F73A18 80.12%);
  border-radius: 5px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all .3s ease;
  &:hover{
    top: -2px;
  }
  
  &.quiz__action{
    padding: 10px 80px;
  }
}
a.action:focus{
  top: 2px;
  color: #FFFFFF;
}
@media only screen and (min-width: 768px){
  .action{
    min-width: 0;
  }
  .action.card-action{
  }
}