.action{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  vertical-align: middle;
  width: 238px;
  padding: 15px 25px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: $white;
  box-sizing: border-box;
  background: $bright-color;
  text-transform: uppercase;
  transition: all .5s linear;
  //transition: color 1s ease, background 1s ease;
  &__group {
    display: flex;
    justify-content: center;
  }
  &.action--nobg{
    background: rgba($color: #fff, $alpha: .7);
    border: 3.5px solid $pinkColor;
    color: $pinkColor;
    &:hover{
      background: $white;
      color: $textColor;
      border-width: 0;
    }
  }
  &:hover{
    background: $bright-color-hover;
    color: #fff;
  }
  
}
@media only screen and (min-width:$tablet-width){
  .action{
    margin-right: 30px;

    &:last-of-type{
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: $desctop-width){
  .action__group--head{
    margin-top: 170px;
  }
}