.adv-item{
  &__inner{
    display: grid;
    grid-template-columns: 70px 1fr;
    //grid-auto-rows: 77px auto;
    column-gap: 20px;
    row-gap: 10px;
  }
  &__img-wrap{
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }
  &__img{
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(135.42deg, #739AA8 14.57%, rgba(115, 154, 168, 0.76) 116.43%);
    & svg{
      position: absolute;
      width: 70%;
      height: 70%;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
  &__title{
    width: fit-content;
    height: fit-content;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #586F78;
    text-transform: uppercase;
    //word-wrap: break-word;
    //word-break: break-all;
  }
  &__content{}
  &__text{
    @include aboutParagraph;
  }
}

@media only screen and (min-width:$tablet-width){
  .adv-item{
    &__inner{}
    &__img-wrap{
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    &__img{}
    &__title{
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: center;
      font-size: 16px;
    }
    &__content{
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &__item-text{}
  }
}
@media only screen and (min-width: $desctop-width){
  .adv-item{
    &__inner{
      grid-template-columns: 97px 1fr;
    }
    &__img-wrap{}
    &__img{
      height: 97px;
      width: 97px;
    }
    &__title{}
    &__content{}
    &__item-text{}
  }
}
@media only screen and (min-width: $xl-width){
  .adv-item{
    &__inner{
    }
    &__img-wrap{}
    &__img{}
    &__title{
      font-size: 25px;
    }
    &__content{}
    &__item-text{}
  }
}