.cards-list{
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  grid-row-gap: 40px;
}
@media only screen and (min-width: 767px){
  .cards-list--palisades{
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .cards-list--gateways{
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media only screen and (min-width: 991px){
  .cards-list{
    &--palisades{
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0;
      justify-content: space-between;
      grid-row-gap: 40px;
    }
  }
}