.container{
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  width: 360;
  max-width: 1200px;
}

@media only screen and (min-width: 575px){
  .container{
    
  }
}
@media only screen and (min-width: 767px){
  .container{
    padding: 0 30px;
    width: 700px;
  }
}
@media only screen and (min-width: $desctop-width){
  .container{
    width: 930px;
  }
}
@media only screen and (min-width: 1200px){
  .container{
    width: 1140px;
  }
}
