.container{
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 300px;
	width: calc(100% - 20px);
  max-width: 1200px;
}
@media only screen and (min-width: 575px){
  .container{
    
  }
}
@media only screen and (min-width: $tablet-width){
  .container{
    padding: 0 30px;
    width: 700px;
  }
}
@media only screen and (min-width: $desctop-width){
  .container{
    width: 930px;
  }
}
@media only screen and (min-width: $xl-width){
  .container{
    width: 1140px;
  }
}
