.examples{
  &__list{
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  &__item-wrap{
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  &__item-img-wrap{
    width: fit-content;
  }
  &__item-title{
    margin-right: auto;
    margin-bottom: 20px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
  
  & .slick-slide {
    margin-left:20px;
  }
  & .slick-list {
    margin-left:-20px;
  }
}
.examples-slider-prev,
.examples-slider-next{
  position: absolute;
  display: block;
  height: fit-content;
  width: 30px;
  top: -15px; 
  font-size: 50px;
  font-weight: 700;
  color: #F75135;
  border-radius: 0;
  transition: all .4s;
  opacity: 1;
  z-index: 10;
  transition: all .3s ease;
  & path{
    fill: #F75135;
  }
}
.examples-slider-prev{
  right: 40px;
  & svg{
    transform: rotate(180deg);
  }
}
.examples-slider-next{
  right: 5px;
}
@media only screen and (min-width: 575px){
  .examples-slider-prev{
    right: 70px;
  }
  .examples-slider-next{
    right: 20px;
  }
}
@media only screen and (min-width: 768px){
  .examples{
    & .slick-track{
      display: flex;
      height: 32vw;
    }
    &__item-wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__item-img-wrap{
      height: calc(100% - 3vw);
      & img{
        object-fit: cover;
      }
    }
    & .slick-slide:not(.slick-center){
      max-width: 10vw;
      padding-top: 7vw;
      margin: 0 7vw;
      cursor: pointer;
    }
    & .slick-center{
      max-width: 30vw;
      height: 32vw;
      margin: 0 7vw;
      & img{
        max-width: 26vw;
        object-fit: cover;
      }
      & .examples__item-title{
        font-size: 25px;
      }
    }
    &__item-title{
      height: 3vw;
      text-align: center;
      margin-right: 0;
      padding-top: 15px;
    }
    &__item-wrap{
      flex-direction: column;
    }
  }
  .examples-slider-prev,
  .examples-slider-next{
    //top: -60px;
  }
  .examples-slider-prev{
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(calc(-20vw - 50%), -50%);
  }
  .examples-slider-next{
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(calc(17vw - 50%), -50%);
  }
}
@media only screen and (min-width: 1260px){
  .examples{
    & .slick-track{
      display: flex;
      height: 380px;
    }
    &__item-wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__item-img-wrap{
      height: calc(100% - 4px);
      & img{
        object-fit: cover;
      }
    }
    & .slick-slide:not(.slick-center){
      max-width: 130px;
      padding-top: 70px;
      margin: 0 90px
    }
    & .slick-center{
      max-width: 380px;
      height: 380px;
      margin: 0 90px;
      & img{
        max-width: 327px;
        object-fit: cover;
      }
      & .examples__item-title{
        font-size: 25px;
      }
    }
    &__item-title{
      height: 38px;
      text-align: center;
      margin-right: 0;
      padding-top: 15px;
    }
    &__item-wrap{
      flex-direction: column;
    }
  }
  .examples-slider-prev{
    top: 38%;
    left: 50%;
    margin-right: -50%;
    transform: translate(calc(-250px - 50%), -50%);
  }
  .examples-slider-next{
    top: 38%;
    left: 50%;
    margin-right: -50%;
    transform: translate(calc(209px - 50%), -50%);
  }
}