.examples{
  &__slider{
    position: relative;
    margin: 0 auto;
  }
  &__list{
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  &__item-wrap{
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__item-img-wrap{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    & a{
      display: block;
      width: 288px;
      height: 288px;
      & img{
        width: 100%;
        
      }
    }
  }
  &__item-img-outer{
    max-width: 100%;
    height: 100%;
    transition: transform .6s ease;
    background-size: cover;
  }
  &__item.splide__slide.is-active .examples__item-img-outer:hover{
    transform: scale(1.3);
  }
  &__item.splide__slide:not(.is-active) a{
    cursor: default;
    pointer-events: none;
  }
  &__item.splide__slide.is-active a img{
    &:hover{
      transform: scale(1.3);
    }
  }
  &__item-image{
    opacity: 0;
    visibility: hidden;
  }
  &__item-title{
    margin-right: auto;
    margin-bottom: 20px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
  & .splide__slide.is-active .examples__item-image:hover{
    transition: all .5s ease;
  }
}
//положение стрелок слайдера
.examples__slider>.splide__arrows>.splide__arrow{
  top: 0;
  background: transparent;
  font-size: 30px;
  font-weight: 700;
  transition: all .3s ease;
  &:hover{
    transform: scale(1.44) translate(0, -29%);
  }
  &--prev{
    right: 35px;
    left: auto;
  }
  &--prev:target{
    transform: scale(1.44) translate(-5px, -29%);
  }
  &--next{
    right: -1px;
  }
  &--next:target{
    transform: scale(1.44) translate(5px, -29%);
  }
  & path{
    fill: #F73A18;
  }
}
@media only screen and (min-width: 575px){
  .examples{
    &__item-img-wrap a{
      // width: 100%;
      // height: 100%;
    }
  }
}
@media only screen and (min-width: 768px){
  .examples{
    &__list{
      align-items: center;
    }
    &__item-wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__item.splide__slide.is-active .examples__item-img-wrap{
      width: 300px;
      height: 300px;
      & a{
        width: 300px;
        height: 300px;
      }
    }
    &__item.splide__slide:not(.is-active) .examples__item-img-wrap{
      width: 100px;
      height: 100px;
    }
    &__item-title{
      text-align: center;
      width: 100%;
    }
    & .splide__slide{
      margin: 0 20px;
    }
    & .splide__slide.is-active{
      & .examples__item-title{
        font-size: 36px;
        line-height: 1.3;
      }
    }
    & .splide__slide:not(.is-active){
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      & .examples__item-title{
        font-size: 15px;
        line-height: 1.9;
      }
    }
    

    &__item.splide__slide.is-active{
      position: relative;
      min-height: 350px;
      width: 300px;
    }
    &__item.splide__slide.is-active .examples__item-img-wrap{
      position: relative;
      width: 300px;
      height: 300px;
      right: 50px;
      & a{
        width: 300px;
        height: 300px;
      }
    }
    &__item.splide__slide.is-active .examples__item-title{
      position: relative;
      right: 50px;
    }
    &__item.splide__slide:not(.is-active) .examples__item-img-wrap{
      width: 100px;
      height: 100px;
    }
    & .splide__slide.is-active{
      & .examples__item-title{
        font-size: 30px;
        line-height: 1.3;
      }
    }
  }
  .examples__slider>.splide__arrows{
    position: absolute;
    display: flex;
    width: fit-content;
    top: 50%;
    left: 50%;
    height: 1px;
    margin-right: -50%;
    transform: translate(calc(-50% - 0px), calc(-50% - 30px));
    z-index: 20;
  }
  
  .examples__slider>.splide__arrows>.splide__arrow{
    position: relative;
    top: 70%;
    background: transparent;
    font-size: 30px;
    font-weight: 700;
    &--prev{
      right: 145px;
      left: auto;
    }
    &--next{
      right: -135px;
    }
  }
}
@media only screen and (min-width: 992px){
  .examples__slider>.splide__arrows>.splide__arrow{
    font-size: 40px;
    font-weight: 700;
  }
  .examples{
    &__item.splide__slide.is-active{
      position: relative;
      min-height: 450px;
      width: 450px;
    }
    &__item.splide__slide.is-active .examples__item-img-wrap{
      position: relative;
      width: 400px;
      height: 400px;
      right: 50px;
      & a{
        width: 400px;
        height: 400px;
      }
    }
    &__item.splide__slide.is-active .examples__item-title{
      position: relative;
      right: 50px;
    }
    &__item.splide__slide:not(.is-active) .examples__item-img-wrap{
      width: 100px;
      height: 100px;
    }
    & .splide__slide.is-active{
      & .examples__item-title{
        font-size: 40px;
        line-height: 1.3;
      }
    }
    & .splide__slide:not(.is-active){
      & .examples__item-title{
        font-size: 20px;
      }
    }
  }
  .examples__slider>.splide__arrows>.splide__arrow{
    &--prev{
      right: 180px;
      left: auto;
    }
    &--next{
      right: -180px;
    }
  }
}
@media only screen and (min-width: 1200px){
  .examples__slider>.splide__arrows>.splide__arrow{
    &--prev{
      right: 230px;
      left: auto;
    }
    &--next{
      right: -235px;
    }
  }
  .examples{
    &__item.splide__slide.is-active{
      position: relative;
      min-height: 550px;
      width: 480px;
    }
    &__item.splide__slide.is-active .examples__item-img-wrap{
      position: relative;
      right: 50px;
      width: 480px;
      height: 480px;
      & a{
        width: 480px;
        height: 480px;
      }
    }
  }
}