.footer{
  padding: 35px 0;
  background-color: #333;
  &__inner{
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  &__messengers{
		display: flex;
		flex-direction: column;
		align-items: center;
		@media only screen and (min-width: 680px) {
			align-self: center;
		}
	}
	&__messengers-list{
		display: flex;
		width: fit-content;
	}
	&__messengers-item{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		border-radius: 5px;
		transition: all .2s ease;
		&--viber svg path{
      fill: #7360f2;
    }
    &--telegram svg path{
      fill: #229ED9;
    }
    &--whatsapp svg path{
      fill: #25D366;
    }
    &--instagram svg path{
      fill: #fff;
    }
		& svg {
			width: 15px;
			height: auto;
			@media only screen and (min-width: 580px) {
				width: 18px;
			}
		}
		&:not(:nth-of-type(1)){
			margin-left: 3px;
			@media only screen and (min-width: 340px) {
				margin-left: 10px;
			}  
		}
		&:hover {
			background-color: $bright-color;
			svg path {
				fill: $white;
			}
		}

		@media only screen and (min-width: 580px)	{
			width: 30px;
			height: 30px;
		}
	}
}

@media only screen and (min-width:$tablet-width){}
@media only screen and (min-width: $desctop-width){
  .footer{
    &__messengers-item{
			border-radius: 5px;
		}
  }
}
@media only screen and (min-width: $xl-width){
  .footer{
    
  }
}