.footer{
  padding: 35px 0;
  background-color: #586F78;
  &__inner{
    display: flex;
    flex-direction: column-reverse;
  }
  &__logo-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo{
    margin-bottom: 20px;
    width: 119px;
    height: 93px;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    row-gap: 38px;
  }
  &__content-item{
  }
  &__content-item--contacts{
    width: 250px;
  }
  &__content-item-title{
    margin-bottom: 12px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
  }
  &__content-link{
    display: inline-block;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    transition: all .4s ease;
    & svg{
    }
    & svg path, & svg g{
      opacity: .6;
      fill-opacity: .6;
    }
    & svg rect{

    }
    &:hover{
      color: #fff;
      & svg path, & svg g{
        opacity: 1;
      }
    }
    &.footer__content-link--location{
      opacity: 1;
      & svg path, & svg g{
        opacity: .8;
      }
      &:hover{
        color: #fff;
        & svg path, & svg g{
          opacity: 1;
        }
      }
    }
    &--icons{
      display: flex;
      align-items: center;
    }
  }
  &__content-link-img-wrap{

    min-width: 45px;
    & svg{
      width: auto;
      height: auto;
      opacity: .8;
    }
  }
}

@media only screen and (min-width:$tablet-width){}
@media only screen and (min-width: $desctop-width){
  .footer{
    &__inner{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &__logo-wrap{
      margin-right: 20px;
    }
    &__content{
      display: grid;
      grid-template-columns: 30% 30% 40%;
      justify-content: space-between;
      align-items: flex-start; 
      column-gap: 20px;
      width: 75%;
    }
    &__content-item-title{
      margin-bottom: 15px;
      font-size:18px;
      line-height: 24px;
    }
    &__content-link{
      display: inline-block;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 19px;
      &--icons{
        display: flex;
        align-items: center;
      }
    }
  }
}
@media only screen and (min-width: $xl-width){
  .footer{
    &__content-item-title{
      margin-bottom: 17px;
      font-size: 20px;
      line-height: 24px;
    }
    &__logo-wrap{
      margin-right: 0;
    }
    &__content-link{
      display: inline-block;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 21px;
      &--icons{
        display: flex;
        align-items: center;
      }
    }
  }
}