.gallery {
    background-color: rgba(0, 0, 0, 0.8) !important;

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media only screen and (min-width: $tablet-width) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media only screen and (min-width: $desctop-width) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    
    &__item {
      display: flex;
    }
		&__item-image{
			display: inline-block;
		}
  }
  
  @media only screen and (min-width: $tablet-width){
    .connect {
      &__item {}
      &__item-title {}
    }
  }
  @media only screen and (min-width: $desctop-width){
    .connect {
			&__item {}
			&__item-title {}
      }
  }
  @media only screen and (min-width: 1199px){
    .connect {
			&__item {}
			&__item-title {}
      }
  }