.safari .head{
  &--main{}
    background-image: url(../img/content/img-main.jpg);
}
.head .container{
  z-index: 5;
}
.head{
  position: relative;
  background-repeat: no-repeat;
  &::before{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  &--main{
    padding: 54px 0 125px;
    background-image: url(../img/content/img-main.webp);
    background-size: cover;
    box-shadow: inset 0vw 1vw 29px 35px rgba(213,220,223,0.48);
  }
  &__decorate-text{
    position: absolute;
    display: inline-block;
    z-index: 2;
    bottom: 0;
    right: 0;
    font-family: Inter;
    font-weight: 900;
    font-size: 120px;
    line-height: 145px;
    color: #D5DCDF;
    -webkit-text-stroke: 4px rgba(213, 220, 223, .5);
    -webkit-text-fill-color: rgba(255, 255, 255, .1);
  }
  &__action-block{
    
  }
  &__social{
    position: absolute;
    top: 50%;
    transform: translate(-74px, -50%);
    width: fit-content;
    z-index: 5;
    transition: transform .4s ease-in;
    &--display{
      transform: translate(0,-50%);
      & .head__social-clk svg{
        transform: rotate(0deg);
      }
    }
  }
  &__social-clk{
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translate(0, -50%);
    width: 67px;
    height: 67px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 73px;
    text-align: right;
    background: linear-gradient(357.01deg, #FFFFFF 0%, rgba(255, 255, 255, 0.7) 90.39%);
    opacity: .5;
    border-radius: 50%;
    & svg{
      display: inline-block;
      transform: rotate(180deg);
    }
  }
  &__social-list{
    
  }
  &__social-item{
    
  }
  &__social-link span{
    display: inline-block;
    font-family: Inter;
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    color: #739AA8;
  }
}
@media only screen and (min-width:$tablet-width){
  .safari .head{
    &--main{}
    background-image: url(../img/content/img-main.jpg);
  }
  .head{
    &--main{
      padding: 120px 0 250px;
      background-image: url(../img/content/img-main.webp);
      background-position: right top;
      background-size: cover;
      box-shadow: inset 50vw -50vw 21vw -30vw #d5dcdf;
    }
    &::before{
      
    }
    &__decorate-text{
      z-index: 4;
      font-size: 200px;
      line-height: 284px;
      bottom: 100px;
      right: 5vw;
      -webkit-text-stroke: 5px rgba(213, 220, 223, 1);
      -webkit-text-fill-color: rgba(255, 255, 255, .1);
    }
  }
  .head__action-block{
    flex-direction: row;
    & a{
      z-index: 5;
      margin-top: 0;
      &:nth-of-type(1){
        margin-right: 52px;
      }
    }
  }
}
@media only screen and (min-width: 991px){
  .head{
    &--main{
      padding: 140px 0 250px 90px;
      background-image: url(../img/content/img-main.webp);
    }
    &__social{
      transform: translate(-74px, -250px);
    }
    &__social-clk{
      display: none;
    }
    &__decorate-text{
      font-size: 300px;
      line-height: 334px;
      bottom: 20px;
      right: 5vw;
      -webkit-text-stroke: 6px rgba(213, 220, 223, 1);
      -webkit-text-fill-color: rgba(255, 255, 255, .1);
    }
  }
}
@media only screen and (min-width:$xl-width){
  .head{
    &--main{
      padding: 154px 0 354px;
    }
    &__social{
      transform: translate(10px, -50%);
    }
    &__decorate-text{
      z-index: 4;
      font-size: 200px;
      line-height: 284px;
      bottom: 100px;
      right: 5vw;
      -webkit-text-stroke: 5px rgba(213, 220, 223, 1);
      -webkit-text-fill-color: rgba(255, 255, 255, .1);
    }
  }
}