.head{
  background-image: url(../img/content/header-bg.jpg);
  background-image: -webkit-image-set(url(../img/content/header-bg.webp));
  background-repeat: no-repeat;
  background-size: cover;
  padding: 22px 0 36px;
  &__promotion{
    background: rgba(255, 255, 255, 0.65);
    border-radius: 20px;
  }
  &__promotion-wrapper{
    @include colorBorder;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 0 22px;
    background: rgba(255, 255, 255, 0.7);
  }
  &__promotion-list-wrapper{
    padding: 0 20px;
  }
}
.head__promotion{
  width: fit-content;
  padding: 0 0 22px;
  margin: 0 auto;
  box-sizing: border-box;
  & .card__description{
    max-width: 250px;
  }
  & .card__title{
    margin-bottom: 5px;
  }
  & .card__list{
    padding-left: 0;
    margin-bottom: 0;
  }
  & .card__list-item{
    padding-left: 30px;
  }
}
@media only screen and (min-width: 991px){
  .head{
    padding: 93px 0 250px;
    &__promotion{
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      padding: 36px 34px 31px;
    }
    &__promotion-wrapper{
      padding: 98px 27px 80px;
      width: fit-content;
      max-width: 350px;
    }
    & .card__title{
      margin-bottom: 20px;
      font-size: 22px;
    }
    & .card__description{
      font-size: 18px;
      line-height: 23px;
      max-width: none;
    }
    & .card__list-item-content{
      font-size: 25px;
      line-height: 150%;
    }
  }
}