.head .container{
  z-index: 5;
}
.head{
  position: relative;
  padding: 50px 0 60px;
  background-repeat: no-repeat;padding: 54px 0;
  background-image: url(../img/content/img-main.jpg);
  background-position: center;
  box-shadow: inset 100vw -100vw 100vw 100vw rgba(0,0,0,0.65);
  background-size: cover;
  &__description{
    margin-bottom: 25px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    color: $bright-color;
    @media only screen and (min-width: 360px){
      font-size: 20px;
      margin-bottom: 55px;
    }
    @media only screen and (min-width: 450px){
      font-size: 24px;
      margin-bottom: 65px;
    }
    @media only screen and (min-width: 550px){
      margin-bottom: 75px;
      font-size: 26px;
    }
  }
  @media only screen and (min-width: 360px){
    padding: 60px 0 120px;
  }
  @media only screen and (min-width: 450px){
    padding: 70px 0 150px;
  }
  &__description-item {
    display: flex;
    align-items: center;
  }
  &__description-list{
    list-style: circle;
    list-style-type: square;
  }
  &__description-text {
    color: $white;
  }
}
@media only screen and (min-width:$tablet-width){
  .safari .head{
    
  }
  .head{
    padding: 80px 0 180px 80px;
    background-position: right top;
    &__description{
      text-align: left;
      font-size: 18px;
    }
  }
  .head__action-block{
    flex-direction: row;
    & a{
      z-index: 5;
      margin-top: 0;
      &:nth-of-type(1){
        margin-right: 52px;
      }
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .head{
    padding: 90px 0 180px;
    
    &__description{
      font-size: 24px;
      line-height: 1.7;
    }
    
    &__paragraph{
      margin-bottom: 30px;
      &:last-of-type{
        margin-bottom: 70px;
      }
    }
  }
}
@media only screen and (min-width:$xl-width){
  .head{
    padding: 90px 0 170px;    
    &__description{
      font-size: 28px;
      line-height: 1.7;
    }
  }
}