.header{
	padding: 15px 0;
	background: #333E5B;
	&__wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		order: 1;
	}
	&__contacts{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		order: 2;
	}
	&__contacts-link{
		display: inline-block;
		text-align: right;
		width: 100%;
		font-family: "Roboto Slab";
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all .3s ease;
		&:hover{
			color: #F73A18;
		}
		&:focus{
			color: #F73A18;
		}
	}
	&__contacts-callback{
		position: relative;
		display: inline-block;
		margin-top: 5px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
		text-align: right;
		color: #E8E7E5;
		&::after{
			position: absolute;
			display: block;
			content: '';
			bottom: -3px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #F75135;
		}
	}
	&__menu-open-btn{
		display: inline-block;
		width: fit-content;
		padding: 4px 8px;
		border-radius: 4px;
		color: #fff;
		font-size: 1.9rem;
		text-align: center;
		cursor: pointer;
		transition: all .3s ease;
		&:hover{
			color: red;
		}
	}
	&__text{
		order: 3;
		width: 100%;
		padding-top: 10px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		color: #E8E7E5;
	}
}

@media only screen and (min-width: 768px){
	.header{
		&__menu-open-btn{
			display: none;
		}
		&__contacts-link{
			font-size: 20px;
			line-height: 26px;
		}
		&__contacts-callback{
			font-size: 13px;
			line-height: 16px;
		}
		&__text{
			padding-top: 15px;
			font-size: 17px;
			line-height: 20px;
		}
	}
}
@media only screen and (min-width: 992px){
	.header{
		&__wrapper{
			flex-wrap: nowrap;
		}
		&__contacts{
			order: 3;
		}
		&__text{
			display: block;
			padding: 0;
			order: 2;
			width: 380px;
			font-size: 20px;
			line-height: 24px;
			text-align: left;
		}
	}
}



.header__bottom.sticky-header{
	position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
}