.header{
	background: $yellow-color;
	box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
	&__wrapper{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&__top{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
		padding: 0 16px;
		box-sizing: border-box;
		min-width: 300px;
		width: calc(100% - 20px);		
	}
	&__phones {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 15px auto 0;
		order: 3;
	}
	&__logo {
		order: 1;
	}
	&__logo a{
		display:inline-block;
		width: 71px;
		height: 55px;
	}
	&__logo a img{
		width: 100%;
		max-width: 100%;
	}
	&__messengers-list{
		display: flex;
		width: fit-content;
		margin-right: 20px;
	}
	&__messengers-item{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		border-radius: 5px;
		background-color: $messengerBgColor;
		transition: all .2s ease;	
		& svg {
			width: 15px;
			height: auto;
			@media only screen and (min-width: 580px) {
				width: 18px;
			}
		}
		&:not(:nth-of-type(1)){
			margin-left: 10px;
		}
		&:hover{
			background-color: $messengerBgColorHover;
		}

		@media only screen and (min-width: 580px)	{
			width: 30px;
			height: 30px;
		}

		&--viber,
		&--telegram,
		&--whatsapp{
			display: none;
		}
		@media only screen and (min-width: 410px) {
			&--viber,
			&--telegram,
			&--whatsapp{
				display: flex;
			}
		}
	}
	&__cross-img{
		display: none;
	}
	&__content{
		position: absolute;
		display: none;
		&--visible{
			position: absolute;
			width: 100vw;
			top: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			background: $yellow-color;
			opacity: 1;
			left: -17px;
			z-index:6;
			&::after{
				position: absolute;
				display: block;
				content: '';
				width: 100%;
				border-bottom: 1px solid #ccc;
			}
		}
	}
	&__content-upper{
		display: flex;
		flex-direction: column-reverse;
	}
	&__tooggle-menu{
		display: block;
		min-width: 28px;
		height: fit-content;
		cursor: pointer;
		order: 2;
	}
	&__hamburger-img{
		display: block;
		width: 28px;
		height: 18px;
	}
	&__cross-img{
		display: none;
		width: 28px;
		height: 23px;
	}
	&__content-company{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__content-upper-phone{
		display: inline-block;
		width: fit-content;
		padding: 5px 0;
		color: $messengerBgColorHover;
		opacity: .7;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		@media only screen and (min-width: 410px) {
			font-size: 20px;
			line-height: 23px;
		}
		&:hover{
			opacity: 1;
		}
	}

	&  .header__tooggle-menu--cross{
		& .header__hamburger-img{
			display: none;
		}
		& .header__cross-img{
			display: block;
		}
	}
}

@media only screen and (min-width: 580px) {
	.header {
		&__logo {
			order: 1;
		}
		&__phones {
			width: fit-content;
			margin-top: 0;
			order: 2;
		}
		&__tooggle-menu {
			order: 3;
		}
	}
}

@media only screen and (min-width: $tablet-width){
	.header{
		&__logo a img{
			max-width: 70px;
		}
		&__phones {
			margin: 0;
		}
		&__top{
			width: 100%;
		}
		&__content{
			position: static;
			display: flex;
			align-self: flex-start;
			flex-direction: column;
		}
		&__tooggle-menu{
			display: none;
		}
	}
}
@media only screen and (min-width:$desctop-width){
	.header{
		&__wrapper{
			margin: 0 auto;
			padding: 0 30px;
    	width: 930px;
		}
		&__top{
			margin: 0;
			padding: 0;
			// width: fit-content;
		}
		&__logo a{
			width: 91px;
			height: 76px;
		}
		&__logo a img{
			max-width: 100%;
		}		
		&__content-upper{
			flex-direction: row;
			align-items: flex-end;
			padding-top: 20px;
			margin-bottom: 30px;
			border-bottom: 1px solid rgba(88, 111, 120, .2);
		}
		&__contacts{
			display: flex;
			align-items: flex-end;
			flex-wrap: nowrap;
			margin-left: auto;
		}
		&__consult{
			width: fit-content;
		}
		&__consult-action{
			margin-bottom: 0;
		}
		&__messengers-item{
			border-radius: 5px 5px 0 0;
		}
	}
}
@media only screen and (min-width:$xl-width){
	.header{
		&__wrapper{
			padding: 0 30px;
    	width: 1140px;
		}
	}
}
.header.sticky-header{
	position: fixed;
  top: 0;
  width: 100%;
  //background-color: rgba(0, 0, 0, .7);
	z-index: 100;
}