.logo{
  display: flex;
  align-items: flex-end;
  max-width: 150px;
  &__description{
    display: inline-block;
    margin-left: 5px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #C4C4C4;
  }
}
.logo--footer{
  display: block;
  width: 30%;
  margin: 0 auto;
}
@media only screen and (min-width: 767px){
  .logo{
    max-width: 300px;
    align-items: center;
    & a{
      display: inline-block;
      width: fit-content;
    }
    & img{
      width: 70px;
      max-width: 70px;
    }
    &__description{
      font-size: 20px;
      line-height: 26px;
    }
  }
}
@media only screen and (min-width: 992px){
  .logo{
    &--footer{
      & .logo__img--footer{
        width: 113px;
        max-width: 113px;
      }
    }
  }
}