.logo {
  display: flex;
  a {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    line-height: 0.7;
    color: $dark-gray-color;
    span {
      color: $bright-color;
    }
    @media only screen and (min-width: 340px) {
      font-size: 28px;
    }  
    @media only screen and (min-width: 420px) {
      font-size: 32px;
    }  
  }
  &__description{
    display: inline-block;
    margin-left: 5px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #C4C4C4;
  }
}
.logo--footer{
  display: block;
  width: 30%;
  margin: 0 auto;
}
@media only screen and (min-width: 767px){
  .logo{
    align-items: center;
    & a{
      display: inline-block;
      width: fit-content;
    }
    & img{
      width: 150px;
    }
    &__description{
      font-size: 20px;
      line-height: 26px;
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .logo{
  }
}