.main{
  &__content-wrap{
    overflow: hidden;
  }
}
.section{
  padding-top: 40px;
  padding-bottom: 80px;
}
.gateways, .examples, .reviews{
  background-color: #E8E7E5;
}
@media only screen and (min-width: 575px){
  .main{
  }
}
@media only screen and (min-width: 767px){
  .main{
  }
}
@media only screen and (min-width: 991px){
  .main{
    &__content{
      overflow-x: hidden;
    }
  }
  .section{
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .materials.section{
    padding-top: 60px;
    padding-bottom: 30px;
  }
}