.material-card{
  width: 100%;
  padding: 40px 20px;
  display: none;
  border-radius: 0 0 5px 5px;
  border: 3px solid #F75135;
  &__top{
    display: flex;
    flex-direction: column;
  }
  &__description{
    margin-bottom: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
  }
  &__img-wrap{
    position: relative;
    margin-bottom: 20px;
  }
  &__main-image{
    width: 100%;
  }
  &__img-description{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &--2{
      flex-direction: column-reverse;
    }
  }
  &__added-images-block{
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 3;
    background-color: #fff;
    & img{
      width: 100%;
    }
    &--2{
      flex-direction: row;
      & img{
        display: inline-block;
        width: 50%;
      }
    }
  }
  &__img-wrap-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
    padding: 20px 10px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    background-color: #fff;
    &--1{
      min-width: 120px;
    }
    &--2{
      flex-direction: row;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &__variety-slider-item{
    & img{
      display: inline-block;
      width: 100%;
    }
  }
  &__variety-slider-item-title{
    margin-bottom: 10px;
    text-align: center;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    color: #000000;
  }
  & .slick-slide {
    margin-left:20px;
  }
  & .slick-list {
    margin-left:-20px;
  }

  &__form-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__form-field{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    padding: 11px 13px;
    border: 3px solid #F75135;
    border-radius: 5px;
    color: #F75135;
    background: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #000000;
  }
}
@media only screen and (min-width: 575px){
  .material-card{
    padding: 30px 35px 30px;
    &__description{
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
    &__img-wrap{
      margin-bottom: 30px;
    }
    &__img-wrap-text{
      font-size: 18px;
      line-height: 23px;
    }
  }
}
.material-card__variety-slider .material-card__variety-slider-item{
  margin-right: 20px;
}
@media only screen and (min-width: 991px){
  .material-card{
    padding: 60px 70px 70px;
    &__description{
      text-align: left;
      font-size: 18px;
      line-height: 22px;
    }
    &__top{
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    &__img-wrap{
      min-width: 33%;
      margin-bottom: 0;
    }
    &__form{
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    &__form-field{
      width: 30%;
      margin-bottom: 0;
      font-size: 18px;
    }
    &__content{
      justify-content: space-between;
      margin-bottom: 0;
      margin-left: 28px;
      width: 65%;
    }
    & .action{
      margin: 0;
    }
  }
}