.materials-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.materials-list__radio{
  display: none;
}
.materials-list__label{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  padding: 10px;
  cursor: pointer;
}
.materials-list__label.action{
  border: 3px solid #F75135;
  color: #F75135;
  background: #fff;
}
.materials-list__label + .material-card{
  max-height: 0;
}
.materials-list__radio:checked + .materials-list__label{
  display: block;
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(90.04deg, #F75135 44.02%, #F73A18 80.12%);
  color: #fff;
}
.materials-list__radio:checked + .materials-list__label + .material-card{
  display: block;
  margin-bottom: 35px;
}

.pos-1{
  order:1;
}
.pos-2{
  order:2;
}
.pos-3{
  order:3;
}
.pos-4{
  order:4;
}
.pos-5{
  order:5;
}
.pos-6{
  order:6;
}
.pos-7{
  order:7;
}
.pos-8{
  order:8;
}

@media only screen and (min-width: 991px){
  .materials-list{
    flex-direction: row;
    justify-content: space-between;
  }
  .materials-list__label{
    width: 23%;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
  }
  .materials-list__label.action{
    border-bottom: none;
    margin: 0;
  }
  .pos-1{
    order:1;
  }
  .pos-2{
    order:5;
  }
  .pos-3{
    order:2;
  }
  .pos-4{
    order:6;
  }
  .pos-5{
    order:3;
  }
  .pos-6{
    order:7;
  }
  .pos-7{
    order:4;
  }
  .pos-8{
    order:8;
  }
}