.modal__wrap{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  height: 100%;
  visibility: hidden;
}
.modal__overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #222;
  opacity: .7;
}
.modal__icon-close-wrap{
  position: absolute;
  top: 18px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}
.modal__icon-close{
  position: absolute;
  display: block;
  top: 15px;
  left: 34px;
  width: 1px;
  height: 1px;
  background-color: transparent;
  &::after, &::before{
    display: block;
    position: absolute;
    content: '';
    top: -3px;
    right: 10px;
    width: 20px;
    height: 3px;
    background-color: #586F78;
  }
  &::after{
    transform: rotate(45deg);
  }
  &::before{
    transform: rotate(-45deg);
  }
}
.modal__content{
  position: absolute;
  background-color: #fff;
  max-height: 80vh;
  padding: 40px 20px 50px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -100vh);
  overflow-y: auto;
  background: #222529;
  width: 300px;
  transition: transform .4s ease-in-out;
  border-radius: 20px;
}
.modal-view .modal__wrap,
.modal-view-call .modal__wrap,
.modal-view .modal__content--order-online,
.modal-view .modal__content--success-send,
.modal-view .modal__content--error-send{
  visibility: visible;
}

.call-form .modal__content--call-form,
.order-transport .modal__content--order-transport,
.order-online .modal__content--order-online,
.success-send .modal__content--success-send,
.error-send .modal__content--error-send{
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: fit-content;
}
input{
  font-family: $content-ff;
}
.modal__form{
  display: flex;
  flex-direction: column;
}
.modal{
  &__form--quiz{
    padding: 0;
  }
  &__submit{
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    @include submitBtn;
  }
}
//стилизация checkbox


.count-product-field-wrap{
  display: inline-block;
  border: 1px solid #222;
}
.count-product-field{
  display: inline-block;
  padding: 10px;
  font-size: 1.7rem;
}

//стилизация radio в различных состояниях
.modal__field--radio+label>.fa-dot-circle{
  display: none;
}
.modal__field--radio:checked+label>.fa-circle{
  display: none;
}
.modal__field--radio:checked+label>.fa-dot-circle{
  display: inline-block;
}



@media only screen and (min-width:$tablet-width){
  
}
@media only screen and (min-width: $desctop-width){
  
  .modal{
    &__field--text{
      max-width: 100%;
    }
    &__content{
      width: 900px;
      &--call-form{
        width: 800px;
      }
    }
  }
}
@media only screen and (min-width: 1200px){
  .modal{
    &__content{
      width: 1100px;
    }
  }
}