.my-help{
	&__items-list{
		margin-bottom: $gutter-base;
	}
	&__item{
		&:not(:last-child) {
			margin-bottom: $gutter-base;
		}
	}
	&__item-description{
		@include aboutParagraph;
		color: $light-grey;
	}
	&__notion {
		@include aboutParagraph;
		margin-top: $gutter-ml;
		color: $light-grey;
		font-size: 13px;
	}
}

@media only screen and (min-width:$tablet-width){
	.my-help{
		&__items-list{}
		&__item{}
		&__item-description{}
	}
}