.nav{
	&--upper-nav{}
	&--main-nav{}
}
@media only screen and (min-width: 991px){
  .nav{
		&--upper-nav{
			display: flex;
			justify-content: space-between;
			width: fit-content;
		}
		&--main-nav{
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-right: 20px;
		}
    &__list{
			&--main-nav{
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
		&__item{
			position: relative;
			&--main-nav{
				padding: 0 5px;
			}
		}
		&__link{
			display: block;
			&--main-nav{
				padding: 15px 10px;
				font-size: 1.3rem;
				color: #fff;
				font-weight: 500;
				transition: all .3s ease-in-out;
				text-transform: uppercase;
			}
		}
  }
  
  .nav__item:hover .nav__sub1-list {
    border-top: 35px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
	.nav__item:hover{
		& a.nav__link{
			color: $yellow;
			&::before, &::after{
				background-color: $yellow;
			}
		}
		& .nav__sub1-list{
			color: $content-color;
		}
	}
	a.nav__link--sub-nav{
		color: $content-color;
	}
	.nav__sub1-item:hover a{
		color: $yellow;
	}
	.nav__list .nav__item:first-of-type .nav__link{
		padding-left: 0;
	}
}