.nav{
	&__list{
		display: flex;
		flex-direction: column;
	}
	&__item{
		padding: 5px 0;
	}
	&__link{
		display: block;
		text-align: center;
		font-family: Inter;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;
	}
}
@media only screen and (min-width: $desctop-width){
  .nav{
	  &__content-upper{
		  border-bottom: 1px ;
	  }
		&__list{
			flex-direction: row;
			justify-content: space-around;
		}
		&__item{
			width: fit-content;
			padding: 0;
		}
		&__link{
			width: fit-content;
			font-size: 12px;
			line-height: 18px;
		}
  }
}
@media only screen and (min-width:$xl-width){
	.nav{
		&__link{
			font-size: 15px;
			line-height: 18px;
		}
	}
}