.page-title{
  width: fit-content;
  margin-bottom: 18px;
  &__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: $white;
    @media only screen and (min-width: 450px){
      font-size: 28px;
    }
    @media only screen and (min-width: 550px){
      font-size: 34px;
    }
  }
  &__description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $white;
    @media only screen and (min-width: 450px){
      font-size: 20px;
    }
    @media only screen and (min-width: 550px){
      font-size: 23px;
    }
  }
}
@media only screen and (min-width: $tablet-width){
  .page-title{
    margin-bottom: 30px;    
    &__text{
      font-size: 50px;
      
      text-align: left;
    }
    &__description{
      text-align: left;
      font-size: 23px;
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .page-title{    
    &__text{
      font-size: 70px;
      text-align: left;
    }
    &__description{
      font-size: 26px;
      line-height: 1.7;
    }
  }
}
@media only screen and (min-width: $xl-width){
  .page-title{
    
    &__text{
      font-size: 85px;
    }
    &__description{
    }
  }
}