.pagination{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
    align-items: center;
    width: fit-content;
  }
  &__control{
    display: inline-block;
    width: 22px;
    & svg{}
  }
  &__item{
    display: inline-block;
    width: fit-content;
    margin: 0 25px;
    &--current .pagination__item-link{
      color: $pinkColor;
    }
  }
  &__item-link{
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #586F78;
    opacity: 0.7;
    transition: color .4s ease-in;
    &:hover{
      color: $pinkColor;
    }
  }
}


@media only screen and (min-width:$tablet-width){
  .pagination{
    &__list{}
    &__control{
      & svg{}
    }
    &__item{}
    &__item-link{}
  }
}
@media only screen and (min-width: $desctop-width){
  .pagination{
    justify-content: flex-start;
    margin-top: 80px;
    &__list{}
    &__control{
      width: 22px;
      & svg{
        display: inline-block;
        
      }
    }
    &__item{
      margin: 0 50px;
    }
    &__item-link{
      font-size: 25px;
    }
  }
}
@media only screen and (min-width: $xl-width){
  .pagination{
    margin-top: 100px;
    &__list{}
    &__control{
      & svg{}
    }
    &__item{
      margin: 0 70px;
    }
    &__item-link{
      font-size: 30px;
    }
  }
}