.products-list{
  &__inner{
    display: flex;
    flex-direction: column;
  }
  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &__item-title{
    margin-bottom: 20px;
  }
  &__item-img-wrap{
    margin-bottom: 20px;
  }
  &__item-img{}
  &__item-text-content{
    margin-bottom: 20px;
    & p{
      margin-bottom: 10px;
      @include aboutParagraph;
    }
  }
  &__item-link{
    display: inline-block;
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    color: #586F78;
    transition: color .4s ease-in;
    &:hover{
      color: $pinkColor;
    }
  }
}

@media only screen and (min-width:$tablet-width){
  .products-list{
    &__inner{}
    &__item{
      margin-bottom: 50px;
    }
    &__item-title{}
    &__item-img-wrap{
      
    }
    &__item-img{}
    &__item-text-content{}
    &__item-link{
      font-size: 14px;
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .products-list{
    &__inner{}
    &__item{
      position: relative;
      padding-right: 40%;
      margin-bottom: 60px;
    }
    &__item-title{}
    &__item-img-wrap{
      position: absolute;
      width: 38%;
      right: 0;
      top: 0;
    }
    &__item-img{}
    &__item-text-content{}
    &__item-link{
      font-size: 20px;
    }
  }
}
@media only screen and (min-width: $xl-width){
  .products-list{
    &__inner{}
    &__item{
      margin-bottom: 80px;
    }
    &__item-title{}
    &__item-img-wrap{}
    &__item-img{}
    &__item-text-content{}
    &__item-link{}
  }
}