.quiz{
  &__list{
    position: relative;
  }
  &__item{
    display: none;
    //display: flex;
    flex-direction: column;
    align-items: center;
    &--1{
      display: flex;
    }
  }
  &__progress-bar{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }
  &__progress-item{
    height: 1px;
    width: 100%;
    flex-grow: 2;
    opacity: .3;
    background-color: #000;
    &--active{
      opacity: 1;
      background-color: $pinkColor;
    }
  }
  &__item-number{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.25;
  }
  &__item__title{
   display: block;
   width: 100%;
   text-align: left;
   margin-bottom: 30px;
   font-family: Inter;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.4;
   color: #000000; 
  }
  &__item-description{
    margin-bottom: 30px;
    @include aboutParagraph;
  }
  &__field-group-wrap{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-bottom: 30px;
  }
  &__field-group-wrap.quiz__field-group-wrap--finish{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__radio-input{
    display: none;
  }
  &__radio-label{
    position: relative;
    display: block;
    min-width: 320px;
    padding-left: 30px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
    &::before{
      position: absolute;
      content: '';
      display: block;
      left: 2px;
      top: 50%;
      transform: translate(0, -50%);
      width: 18px;
      height: 18px;
      border: 1px solid #739AA8;
      border-radius: 50%;
    }
    &::after{
      position: absolute;
      content: '';
      display: none;
      left: 5px;
      top: 50%;
      transform: translate(0, -50%);
      width: 12px;
      height: 12px;
      background-color: $pinkColor;
      border-radius: 50%;
    }
  }
}
.quiz__action--submit{
  align-self: center;
}
.quiz__field-group-wrap input:checked+label.quiz__radio-label{
  &::before{
    border: 1px solid $pinkColor;
  }
  &::after{
    display: block;
  }
}
.quiz.quiz--popup-form {
  background: #D5DCDF;
  padding: 40px 20px;
  & .quiz__title{
    margin-bottom: 10px;
    font-family: Inter;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #000000;
  }
  & .quiz__item{
  }
}
@media only screen and (min-width: $tablet-width){
  .quiz{
    &__item{
      width: 80%;
    }
    &__item-number{
      font-size: 16px;
    }
    &__item__title{
      font-size: 16px;
    }
    & .action.quiz__action{
      margin: 0;
      align-self: flex-end;
    }
    &__field-group-wrap{
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      row-gap: 30px;
    }
    &__radio-label{
      display: flex;
      align-items: center;
      margin-bottom: 0;
      min-width: 240px;
      font-size: 16px;
    }
    &__progress-item{
      display: block;
      height: 1px;
      min-width: 0;
      width: 100%;
      flex-grow: 2;
      opacity: .3;
      background-color: #000;
      &--active{
        opacity: 1;
        background-color: $orange;
      }
    }
  }
  .quiz.quiz--popup-form {
    padding: 40px 50px;
    width: 700px;
    & .quiz__title{
      margin-bottom: 20px;
      font-size: 28px;
    }
    & .quiz__item{
      width: 100%;
    }
    .quiz__field-group-wrap {
      row-gap: 30px;
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .quiz{
    &__item-number{
      font-size: 18px;
    }
    &__item__title{
      font-size: 25px;
    }
    &__field-group-wrap{
      row-gap: 60px;
    }
    &__radio-label{
      font-size: 25px;
      padding-left: 50px;
      min-width: 360px;
      &::before{
        width: 28px;
        height: 28px;
        border-width: 2px;
      }
      &::after{
        width: 20px;
        height: 20px;
        left: 6px;
      }
    }
  }
  .quiz.quiz--popup-form {
    padding: 60px 50px;
    width: 850px;
    & .quiz__title{
      margin-bottom: 20px;
      font-size: 36px;
    }
    & .quiz__item{
    }
    .quiz__field-group-wrap {
      row-gap: 30px;
    }
  }
}
@media only screen and (min-width: $xl-width){
  .quiz{
    &__radio-label{
      min-width: 410px;
    }
  }
  .quiz.quiz--popup-form {
    padding: 60px 100px;
    width: 1100px;
    & .quiz__title{
      margin-bottom: 20px;
      font-size: 45px;
    }
    & .quiz__item{
    }
  }
}