.results{
  &__items-list--seo{
    margin-top: 10px;
  }
  &__item{
    margin-bottom: 40px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}


@media only screen and (min-width:$tablet-width){}
@media only screen and (min-width: $desctop-width){
  .results{
    &__items-list--seo{
      margin-top: 20px;
    }
    &__item{
      margin-bottom: 60px;
    }
  }
}
@media only screen and (min-width: $xl-width){}