.review{
  &__description-text-item {
    margin: 0 auto;
    padding: 0 120px;
    font-size: 18px;
  }
  &__user-content{
    padding: 0 10%;

    & .slick-track {
      display: flex;
      align-items: center;
    }
  }
  &__user-content-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-inner {
      width: fit-content;
      height: fit-content;
    }

    &.prevSlide,
    &.nextSlide {
      & .review__user-content-item-inner {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 40%;
      }
    }

    &-name {
      width: fit-content;
    }
    
  }
  &__user-content-item {
    img {
      width: 100%;
    }
  }
  &__user-content-item-name {
    margin-top: 30px;
  }
}
@media only screen and (min-width:$tablet-width){
  .review{
    
  }
}
@media only screen and (min-width: $desctop-width){
  .review{
    
  }
  
}
@media only screen and (min-width: $xl-width){
  .review{
    
  }
}