.reviews{
  &__list{
    padding-top: 50px;
  }
  &__slider-prev,
  &__slider-next{
    position: absolute;
    display: block;
    height: fit-content;
    width: 30px;
    top: 0px; 
    font-size: 50px;
    font-weight: 700;
    color: #F75135;
    border-radius: 0;
    transition: all .4s;
    opacity: 1;
    z-index: 10;
  }
  &__slider-prev{
    right: 70px;
  }
  &__slider-next{
    right: 20px;
  }
}
@media only screen and (min-width: 767px){
  .reviews__list{

    &>.slick-list{
      //max-height: 45vw;
      margin-left:-3vw;
    }
    &>.slick-list>.slick-track{
      max-height: 400px;
    }
    &>.slick-list>.slick-track>.slick-slide {
      margin-left: 3vw;
      height: fit-content;
    }
  }
    
}