.reviews{
  &__slider{
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  &__list{
    padding-top: 50px;
  }
  &__slider-prev,
  &__slider-next{
    position: absolute;
    display: block;
    height: fit-content;
    width: 30px;
    top: 0px; 
    font-size: 50px;
    font-weight: 700;
    color: #F75135;
    border-radius: 0;
    transition: all .4s;
    opacity: 1;
    z-index: 10;
  }
  &__slider-prev{
    right: 70px;
  }
  &__slider-next{
    right: 20px;
  }
}
//положение стрелок главного слайдера
.reviews__slider>.splide__arrows>.splide__arrow{
  top: 0;
  background: transparent;
  font-size: 30px;
  font-weight: 700;
  transition: all .3s ease;
  &:hover{
    transform: scale(1.5) translate(0, -29%);
  }
  &--prev{
    right: 35px;
    left: auto;
  }
  &--next{
    right: -1px;
  }
  & path{
    fill: #F73A18;
  }
}


@media only screen and (min-width: 767px){
  //положение стрелок главного слайдера
  .reviews__slider{
    position: relative;
    padding-top: 0;
  }
  .reviews__slider>.splide__arrows{
    position: absolute;
    display: flex;
    width: fit-content;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(calc(-50% - 0px), calc(-50% - 30px));
    z-index: 20;
  }
  
  .reviews__slider>.splide__arrows>.splide__arrow{
    position: relative;
    top: 70%;
    background: transparent;
    font-size: 30px;
    font-weight: 700;
    &--prev{
      right: 16vw;
      left: auto;
    }
    &--next{
      right: -16vw;
    }
  }
}
@media only screen and (min-width: 992px){
  .reviews__slider>.splide__arrows>.splide__arrow{
    position: relative;
    top: 30px;
    background: transparent;
    font-size: 40px;
    font-weight: 700;
    &--prev{
      right: 17vw;
      left: auto;
    }
    &--next{
      right: -17vw;
    }
  }
}
@media only screen and (min-width: 1200px){
  .reviews__slider>.splide__arrows>.splide__arrow{
    &--prev{
      right: 220px;
      left: auto;
    }
    &--next{
      right: -220px;
    }
  }
}