.section-title{
  position: relative;
  top: -15px;
  display: block;
  padding-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-transform: uppercase;
}
@media only screen and (min-width: 767px){
  .section-title{
    
  }
}
@media only screen and (min-width: $desctop-width){
  .section-title{
    top: -30px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1199px){
  .section-title{
    
  }
}