.section{
  padding: 80px 0;
  background-color: $white;

  &--no-bottom-pd {
    padding-bottom: 0;
  }

  &__description {
    
  }
}
@media only screen and (min-width: $tablet-width){
  .section{
    padding: 70px 0;
    &--no-bottom-pd {
      padding-bottom: 0;
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .section{
    
  }
}

@media only screen and (min-width: $xl-width){
  .section{
  }
}