.section{
  padding-bottom: 60px;
  background-color: #EAEDEF;
  &--gray{
    background-color: #D5DCDF;
    & .section__name-wrap{
      border-color: #fff;
    }
  }
  &--lightgray{
    background-color: #E5E5E5;
    & .section__name-wrap{
      border-color: #fff;
    }
  }
  &__name{
    position: relative;
    bottom: -25px;
    font-family: Inter;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    transform: translate(-50px, 0);
    -webkit-text-stroke: 2px rgba(213, 220, 223, .5);
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    &--gray{
      -webkit-text-stroke: 2px rgba(255, 255, 255, .8);
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
  }
  &__name-wrap{
    overflow: hidden;
    border-bottom: 2px solid rgba(213, 220, 223, .5);;
  }
}
@media only screen and (min-width: $tablet-width){
  .section{
    padding-bottom: 70px;
    &__name{
      font-size: 120px;
      line-height: 100px;
      bottom: -35px;
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .section{
    padding-bottom: 80px;
    &__name{
      font-size: 150px;
      line-height: 120px;
      bottom: -45px;
      -webkit-text-stroke: 3px rgba(213, 220, 223, .5);
      -webkit-text-fill-color: rgba(255, 255, 255, 1);
    &--gray{
      -webkit-text-stroke: 3px rgba(255, 255, 255, .8);
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
    }
    &__name-wrap{
      border-bottom-width: 3px;
    }
  }
}

@media only screen and (min-width: $xl-width){
  .section{
    padding-bottom: 100px;
    &__name{
      font-size: 200px;
      line-height: 140px;
      bottom: -45px;
      -webkit-text-stroke: 4px rgba(213, 220, 223, .5);
      -webkit-text-fill-color: rgba(255, 255, 255, 1);
      &--gray{
        -webkit-text-stroke: 4px rgba(255, 255, 255, .8);
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
    }
    &__name-wrap{
      border-bottom-width: 4px;
    }
  }
}