.section-title{
  padding-bottom: 20px;
  color: $bright-color;
  &--black-bg {
    color: $white;
  }
  &__text {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 32px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-transform: uppercase;
  }
  &__text span {
    display: inline;    
  }
  &__description {
    @include aboutParagraph;
    max-width: 850px;
  }
  
}
@media only screen and (min-width: $tablet-width){
  .section-title{
    &__text {
      font-size: 40px;
      margin-bottom: 25px;
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .section-title{
    &__text {
      text-align: left;
    }
  }
}
@media only screen and (min-width: 1199px){
  .section-title{
    
  }
}