.seo-advantages{
  &__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    column-gap: 40px;
  }
  &__item{}
  &__item-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item-img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    background: linear-gradient(135.42deg, #739AA8 14.57%, rgba(115, 154, 168, 0.76) 116.43%);
  }
  &__item-img{
    width: fit-content;
  }
  &__item-text{
    text-align: center;
    @include aboutParagraph;
  }
}

@media only screen and (min-width:$tablet-width){
  .seo-advantages{
    &__list{}
    &__item{}
    &__item-inner{}
    &__item-img-wrap{}
    &__item-img{}
    &__item-text{}
  }
}
@media only screen and (min-width: $desctop-width){
  .seo-advantages{
    &__list{
      grid-template-columns: repeat(4, 1fr);
    }
    &__item{}
    &__item-inner{}
    &__item-img-wrap{
      width: 120px;
      height: 120px;
    }
    &__item-img{}
    &__item-text{}
  }
}
@media only screen and (min-width: $xl-width){
  .seo-advantages{
    &__list{}
    &__item{}
    &__item-inner{}
    &__item-img-wrap{
      width: 160px;
      height: 160px;
    }
    &__item-img{}
    &__item-text{}
  }
}