.services{
  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // grid-auto-rows: 220px;
    grid-row-gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-icon {
    margin-bottom: 25px;
    width: fit-content;

    svg {
      width: 90px;
      height: 90px;
      fill: $bright-color;
    }
  }

  &__item-info {
    max-width: 300px;
  }

  &__item-title {
    @include subTitle;
    margin-bottom: 16px;
    text-align: center
  }

  &__item-description {
    @include aboutParagraph;
    text-align: center;
  }
}

@media only screen and (min-width: $tablet-width){
  .services {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 40px;
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .services {
    &__list {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 30px;
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .services{}
}