.similar-serv{
  &__list{
    display: flex;
    flex-direction: column;
  }
  &__item{
    margin-bottom: 60px;
    
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &__item-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item-title{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25;
    color: #586F78;
  }
  &__item-description{
    margin-bottom: 30px;
    @include aboutParagraph;
  }
}

@media only screen and (min-width:$tablet-width){
  .similar-serv{
    &__list{}
    &__item{}
    &__item-inner{}
    &__item-title{
      font-size: 18px;
    }
    &__item-description{}
  }
}
@media only screen and (min-width: $desctop-width){
  .similar-serv{
    &__list{
      flex-direction: row;
    }
    &__item{
      padding-left: 50px;
      margin-bottom: 0;
    }
    &__item-inner{
      height: 100%;
    }
    &__item-title{
      margin-bottom: 20px;
      text-align: left;
      font-size: 22px;
    }
    &__item-description{
      margin-bottom: 40px;
      text-align: left;
    }
  }
}
@media only screen and (min-width: $xl-width){
  .similar-serv{
    &__list{}
    &__item{}
    &__item-inner{}
    &__item-title{
      margin-bottom: 30px;
      font-size: 25px;
    }
    &__item-description{
      margin-bottom: 60px;
    }
  }
}