.social{
  &__list{
    display: flex;
  }
  &__item{}
  &--head{
    & .social__list{
      padding: 15px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 74px;
      background: linear-gradient(357.01deg, #FFFFFF 0%, rgba(255, 255, 255, 0.7) 90.39%);
      border-radius: 0 30px 30px 0;
      z-index: 6;
    }
    & .social__item{
      margin-bottom: 28px;
      &:nth-last-of-type(){
        margin-bottom: 0;
      }
    }
    & .social__item:hover{
      transition: all .4s ease-in;
      & span{
        color: $pinkColor;
      }
      & svg{
        opacity: 1;
      }
      & svg path{
        fill: $pinkColor;
      }
      & svg rect{
       stroke: $pinkColor;
      }
    }
    & .social__link span{
      display: inline-block;
      font-family: Inter;
      font-weight: 700;
      font-size: 9px;
      line-height: 11px;
      text-align: center;
      color: #739AA8;
    }

  }
  &--footer{
    & .social__item{
      margin-right: 15px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    & .social__link{
      display: inline-block;
      width: 44px;
      height: 44px;
      &:hover{
        transition: all .3s ease-in;
        & svg{
          opacity: 1;
        }
        & svg path{
          opacity: 1;
        }
        & svg rect{
           opacity: 1;
        }
      }
      & svg{
        opacity: .5;
      }
      & svg path{
        fill: #fff;
      }
      & svg rect{
       stroke: #fff;
      }
    }
  }
}

@media only screen and (min-width:$tablet-width){
  .social{
    &__list{}
    &__item{}
    &__link{}
  }
}
@media only screen and (min-width: $desctop-width){
  .social{
    &__list{}
    &__item{}
    &__link{}
  }
}
@media only screen and (min-width: $xl-width){
  .social{
    &__list{}
    &__item{}
    &__link{}
  }
}