.works-steps__list{
  display: flex;
  flex-direction: column;
}
.work-step{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  & *{
    transition: all .4s ease-in;
  }
  &--faq{
    padding-left: 30px;
    align-items: flex-start;
  }
  &:last-of-type{
    margin-bottom: 0;
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__number{
    position: relative;
    display: inline-flex;
    width: 30px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
    padding: 10px 20px 10px 0;
    z-index: 2;
    font-family: Inter;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    background-color: #fff;
    color: $pinkColor;
    border-top-right-radius: 15px;
    &::before{
      position: absolute;
      display: block;
      content: '';
      font-size: 16px;
      line-height: 19px;
      z-index: -2;
      width: 1300px;
      height: 100%;
      right: 0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: #fff;
    }
    &-active{
      display: none;
    }
    &-inactive{
      display: inline-block;
    }
    &--faq{
      cursor: pointer;
      background-color: $pinkColor;
      color: #fff;
      &::before{
        background-color: $pinkColor;
      }
    }
  }
  &__title{
    display: flex;
    align-items: center;
    height: 39px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    color: #000000;
  }
  &__description{
    @include aboutParagraph;
    &--faq{
      position: relative;
      margin-top: 0;
    }
  }
  & .accordeon__item-content{
    //transition: all .4s ease-in;
    //animation: appearText 5s infinite;
    margin-top: 22px;
  }
}
.work-step__number.accordeon__item-nav-link{
  background-color: transparent;
}
.work-step__number.accordeon__item-nav-link--active{
  color: $pinkColor;
  &::before{
    background-color: #fff;
    color: $pinkColor;
  }
}
@keyframes appearText {
  50% {margin-top: 22px;}
}
.accordeon__item-content.work-step__description--faq{
  transition: all 1s ease-in;
  transform: translate(0, 70px);
  z-index: -3;
  display: block;
  max-height: 0;
  opacity: 0;
}
.accordeon__item-content--active.work-step__description--faq{
  transform: translate(0, 0);
  z-index: 1;
  max-height: fit-content;
  opacity: 1;
}

@media only screen and (min-width:$tablet-width){
  .work-step{
    &__number{
      margin-right: 18px;
    }
    &__content{}
    &__title{
      font-size: 16px;
    }
    &__description{
      &--faq{
        margin-top: 30px;
      }
    }
  }
}
@media only screen and (min-width: $desctop-width){
  .work-step{
    &__number{
      margin-right: 20px;
      padding: 15px 30px 15px 0;
      font-size: 25px;
    }
    &__content{}
    &__title{
      height: 49px;
      font-size: 18px;
    }
    &__description{
      &--faq{
        margin-top: 35px;
      }
    }
  }
}
@media only screen and (min-width: $xl-width){
  .work-step{
    &__number{
      font-size: 30px;
      margin-right: 30px;
    }
    &__content{}
    &__title{
      font-size: 20px;
    }
    &__description{
      &--faq{
        margin-top: 40px;
      }
    }
  }
}