.works-steps{
  background-repeat: no-repeat;
  &--seo{
    background: rgba(229, 229, 229, 1);
    background-image: url(../img/content/seo/seo-work-bg-m.jpg);
    box-shadow: inset 34vw 114px 65px 79px rgba(213, 220, 223, .92);
    background-size: cover;
    background-position: center;
  }
  
}

@media only screen and (min-width:$tablet-width){
  .works-steps{
    &--seo{
      box-shadow: inset 79vw 114px 45vw 6vw rgba(213, 220, 223, .98);
    }
    &__list{}
    &__item{}
  }
  
}
@media only screen and (min-width: $desctop-width){
  .works-steps{
    &__list{}
  }
}
@media only screen and (min-width: $xl-width){
  .works-steps{
    &__list{}
  }
}