body {
  margin: 0;
  font-size: $font-size;
  font-family: sans-serif;

  @media (min-width: $screen-sm) {
    background-color: #ff0;
  }
}


.container {
  @include grid();
}

*:hover {
  transition: all 0.3s linear;
}

a {
  transition: color .4s ease-in;
}

.form {
  @include form();
}

.block {
  display: none;

  @media (min-width: $screen-sm) {
    display: flex;
  }
}
//lazy
img {
  opacity: 1;
  transition: opacity 0.3s;
  display: inline-block;
  box-sizing: border-box;
  }
img[data-src] {
  opacity: 0;
}