//@import "bootstrap_components.scss";
//@import "toast_grid.scss";
@import "mixins.scss";
@import "placeholders.scss";
@import "variables.scss";
@import "global/fonts.scss";
@import "global/scaffolding.scss";
//@import "global/splide.min.scss";
@import "global/swiper.scss";
@import "global/nice-select.scss";
@import "global/theme-settings.scss";
@import "global/lazy.scss";
@import "blocks/body.scss";
@import "blocks/container.scss";
@import "blocks/footer.scss";
@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/notify.scss";
// @import "blocks/menu.scss";
@import "blocks/accordeon.scss";
@import "blocks/about.scss";
@import "blocks/about-adv.scss";
@import "blocks/action.scss";
@import "blocks/additional.scss";
@import "blocks/advantages.scss";
@import "blocks/adv-item.scss";
@import "blocks/answers.scss";
// @import "blocks/advantages.scss";
// @import "blocks/advantages-text-list.scss";
// @import "blocks/aside-slider.scss";
// @import "blocks/author.scss";
@import "blocks/benefit-item.scss";
@import "blocks/breadcrumbs.scss";
// @import "blocks/blog-item.scss";
// @import "blocks/blog-post.scss";
@import "blocks/blog-section.scss";
@import "blocks/blog-thumb.scss";
// @import "blocks/brands.scss";
// @import "blocks/breadcrumbs.scss";
// @import "blocks/catalog-sidebar.scss";
// @import "blocks/categories.scss";
@import "blocks/choose-us.scss";
@import "blocks/contact-us.scss";
@import "blocks/contact-info.scss";
@import "blocks/contacts-map.scss";
@import "blocks/contekst-about.scss";
// @import "blocks/company-info.scss";
// @import "blocks/contact-form.scss";
// @import "blocks/count-box.scss";
// @import "blocks/discounts.scss";
@import "blocks/call-icon.scss";
@import "blocks/content-photo-item.scss";
@import "blocks/custom-slider.scss";
@import "blocks/department.scss";
@import "blocks/design.scss";
@import "blocks/head.scss";
@import "blocks/gallery.scss";
@import "blocks/logo.scss";
// @import "blocks/mail-us.scss";
// @import "blocks/main-products.scss";
// @import "blocks/main-slider.scss";
// @import "blocks/mini-cart.scss";
@import "blocks/nav.scss";
@import "blocks/order-form.scss";
@import "blocks/pagination.scss";
@import "blocks/quiz.scss";
@import "blocks/page-title.scss";
// @import "blocks/phone-form.scss";
@import "blocks/portfolio.scss";
// @import "blocks/promo-block.scss";
// @import "blocks/product.scss";
@import "blocks/products-list.scss";
@import "blocks/project-info.scss";
// @import "blocks/product-card.scss";
// @import "blocks/product-quickview.scss";
@import "blocks/review.scss";
@import "blocks/reviews.scss";
@import "blocks/results.scss";
@import "blocks/section.scss";
@import "blocks/section-title.scss";
@import "blocks/seo-advantages.scss";
@import "blocks/seo-cases.scss";
@import "blocks/seo-important.scss";
@import "blocks/seo-guarantees.scss";
@import "blocks/seo-table.scss";
@import "blocks/services.scss";
@import "blocks/similar-serv.scss";
@import "blocks/site-blocks.scss";
@import "blocks/smm-steps.scss";
@import "blocks/social.scss";
@import "blocks/team.scss";
@import "blocks/text-blocks.scss";
@import "blocks/work-step.scss";
@import "blocks/works-steps.scss";
// @import "blocks/select-box.scss";
// @import "blocks/sidebar.scss";
// @import "blocks/shop.scss";
// @import "blocks/social.scss";
// @import "blocks/srch-wdg.scss";
// @import "blocks/steps-nav.scss";
//@import "blocks/sticky-header.scss";
// @import "blocks/store.scss";
// @import "blocks/subscribe.scss";
// @import "blocks/team-item.scss";
// @import "blocks/testimonial.scss";
// @import "blocks/wdg.scss";
