

$tablet-width: 767px;
$desctop-width: 991px;
$xl-width: 1199px;

$body-color: #fff;
$content-color: #222;
$content-ff: "Roboto";

//background colors
$textColor: #000;
$yellow-color: #f8c12c;
$dark-yellow-color: #dcaa21;
$light-grey: #D5DCDF;
$red-color: #FF0000;
$pinkColor: #ED2051;
$dark-gray: #586F78;
$messengerBgColor: #000;
$messengerBgColorHover: #FA3D54;

//font-size
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 18px;
$font-size-ml: 20px;
$font-size-lg: 24px;
$font-size-xl: 30px;
$font-size-xlg: 46px;

$line-height-xs: 12px;
$line-height-sm: 14px;
$line-height-base: 18px;
$line-height-ml: 20px;
$line-height-lg: 24px;
$line-height-xl: 26px;
$line-height-xlg: 30px;

$gutter-xs: 8px;
$gutter-sm: 12px;
$gutter-base: 16px;
$gutter-ml: 24px;
$gutter-lg: 32px;
$gutter-xl: 48px;
$gutter-xlg: 64px;


$delColor: #b1b1b1;
$btnBgColor:  linear-gradient(137.06deg, #FA3D54 55.49%, #B5707C 142.05%);
$btnBorderColor: rgba(255, 255, 255, 0.7);
$white: #fff;
$light-grey: #f6fafb;

$bluewood-bg: #354b65;
$dark-blue: #1560b2;
$orange: #F73A18;
$yellow: #fcb700;
$header-top-bg: #1c005f;
$header-nav-bg: #0d6efd;
$section-bg: #F8F8F8;
$red: #C70909;
$brd-c: #ebebeb;


$font-size: 10px;

$tablet-side-padding: 40px;
$toast-breakpoint-medium: 992px !default;
$toast-breakpoint-small: 480px !default;
